<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title" id="badges-heading">Badges You've Earned</h3>

    <div class="panel-body">
      <% if user_signed_in? %>

        <!-- display day badges row -->
        <div class="row">
          <div class="col-sm-12">
            <h5 id="badges-heading">Day Badges</h5>
            <% @earned_badges.each do |eb| %>
              <% if eb.badge_type.name == "day" %>
                <img src=<%= asset_path('sunset_meditation.jpg') %> >
              <% end %>
            <% end %> <!-- end do block -->
          </div> <!--end col sm 12 -->
        </div> <!--end row -->

        <!-- display week badges row -->
        <div class="row">
          <div class="col-sm-12">
            <h5 id="badges-heading">Week Badges</h5>
            <% @earned_badges.each do |eb| %>
              <% if eb.badge_type.name == "week" %>
                <img src=<%= asset_path('lotus.jpg') %> >
              <% end %>
            <% end %> <!-- end do block -->
          </div> <!--end col sm 12 -->
        </div> <!--end row -->

        <!-- display month badges row -->
        <div class="row">
          <div class="col-sm-12">
            <h5 id="badges-heading">Month Badges</h5>
            <% @earned_badges.each do |eb| %>
              <% if eb.badge_type.name == "month" %>
                <img src=<%= asset_path('koi_drawing.jpg') %> >
              <% end %>
            <% end %> <!-- end do block -->
          </div> <!--end col sm 12 -->
        </div> <!--end row -->

        <!-- display quarter badges row -->
        <div class="row">
          <div class="col-sm-12">
            <h5 id="badges-heading">Quarter Badges</h5>
            <% @earned_badges.each do |eb| %>
              <% if eb.badge_type.name == "quarter" %>
                <img src=<%= asset_path('coloful_circle.jpg') %> >
              <% end %>
            <% end %> <!-- end do block -->
          </div> <!--end col sm 12 -->
        </div> <!--end row -->

        <!-- display year badges row -->
        <div class="row">
          <div class="col-sm-12">
            <h5 id="badges-heading">Year Badges</h5>
            <% @earned_badges.each do |eb| %>
              <% if eb.badge_type.name == "year" %>
                <img src=<%= asset_path('golden_buddha.jpg') %> >
              <% end %>
            <% end %> <!-- end do block -->
          </div> <!--end col sm 12 -->
        </div> <!--end row -->
      <% end %> <!-- end user signed in -->
    </div> <!-- end panel-body -->
  </div> <!-- end panel heading -->
</div> <!-- end panel -->


