<h1><a href="/">The Restful Mind</a></h1> <h2><em>Become one with clarity</em></h2>
<% if user_signed_in? %>
  So glad you're here
  <%= current_user.email %><br>
  <%= link_to 'Change Settings', edit_user_registration_path %>
  | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>
  <%= link_to "Sign up to start your journey", new_user_registration_path %>
  <br> <%= link_to "Sign in to continue on your path", new_user_session_path %>
<% end %>
