<!DOCTYPE html>

<html>
  <head>

    <!-- Website Title & Description for Search Engine purposes -->
    <title>The Restful Mind: A Meditation Tracking App</title>
    <meta name="description" content="Earn badges as you track your meditation sessions.">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/javascripts/libraries/jquery-1.8.2.min.js"></script>

    <!-- Bootstrap JS-->
    <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <script src="assets/javascripts/libraries/bootstrap.min.js"></script>
    <script src="assets/javascripts/libraries/bootstrap.js"></script>
    <!-- Include Modernizr -->
    <script src="assets/javascripts/libraries/modernizr-2.6.2.min.js"></script>

    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="assets/stylesheets/bootstrap-glyphicons.css.scss" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/stylesheets/styles.css"rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="container" id="main">
      <div class="navbar navbar-fixed-top">
        <%= render partial: "layouts/navbar" %>
      </div><!-- end navbar -->

      <div class="row-fluid">
        <div class="col-sm-4">
          <div id="quotes-panel">
            <%= render partial: "layouts/inspirational_quotes" %>
          </div>

          <div id="earned-badges-panel">
            <%= render partial: "layouts/badges" %>
          </div>
        </div><!-- end span4 -->
        <div class="col-sm-4">
          <div id="main-content">
            <%= yield %>
          </div>
        </div> <!-- end span8 -->
      </div><!-- end row fluid -->
    </div> <!-- end container fluid main -->

        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <%= content_tag :div, msg, :class => "flash_#{name}" %>
          <% end %>
        <% end %>
      </div><!-- end span12 -->
    </div><!-- end row fluid -->
  </body>
</html>
